Number of web sockets: {{data.nws}}
<div>Please use [a-zA-Z][a-zA-Z0-9]* only for handle and tag characters</div>
<div>
    <button onclick="setHandle()">setHandle()</button><input id="handleInput"></input>
</div>
<div>
    <button onclick="setTag()">setTag()</button><input id="tagInput"></input>
</div>
<div>
    <button onclick="newOpentime()">newOpentime()</button><button onclick="getOpentime()">getOpentime()</button><button onclick="setOpentime()">setOpentime()</button><input id="opentimeInput"></input>
</div>
<div>
    <input id="dateInput"></input><button onclick="listOpentimes()">listOpentimes()</button>
</div>
<div id="hellodiv"></div>
<div id="canvasdiv"></div>
<div id="kbddiv0">
    <span><button id="virtualbacktick">`</button></span><span><button id="virtual1">1</button></span><span><button id="virtual2">2</button></span><span><button id="virtual3">3</button></span><span><button id="virtual4">4</button></span><span><button id="virtual5">5</button></span><span><button id="virtual6">6</button></span><span><button id="virtual7">7</button></span><span><button id="virtual8">8</button></span><span><button id="virtual9">9</button></span><span><button id="virtual0">0</button></span><span><button id="virtualminus">-</button></span><span><button id="virtualequals">=</button></span><span><button>backspace</button></span></div>
<div id="kbddiv1">
    <span><button id="virtualq">q</button></span><span><button id="virtualw">w</button></span><span><button id="virtuale">e</button></span><span><button id="virtualr">r</button></span><span><button id="virtualt">t</button></span><span><button id="virtualy">y</button></span><span><button id="virtualu">u</button></span><span><button id="virtuali">i</button></span><span><button id="virtualo">o</button></span><span><button id="virtualp">p</button></span><span><button id="virtualopenbracket">[</button></span><span><button id="virtualclosebracket">]</button></span><span><button id="virtualbackslash">\</button></span></div>
<div id="kbddiv2">
    <span><button>⇧</button></span><span><button id="virtuala">a</button></span><span><button id="virtuals">s</button></span><span><button id="virtuald">d</button></span><span><button id="virtualf">f</button></span><span><button id="virtualg">g</button></span><span><button id="virtualh">h</button></span><span><button id="virtualj">j</button></span><span><button id="virtualk">k</button></span><span><button id="virtuall">l</button></span><span><button id="virtualsemicolon">;</button></span><span><button id="virtualquote">'</button></span><span><button id="virtualEnter">enter</button></span></div>
<div id="kbddiv3">
<span><button id="virtualShift">shift</button></span><span><button id="virtualz">z</button></span><span><button id="virtualx">x</button></span><span><button id="virtualc">c</button></span><span><button id="virtualv">v</button></span><span><button id="virtualb">b</button></span><span><button id="virtualn">n</button></span><span><button id="virtualm">m</button></span><span><button id="virtualcomma">,</button></span><span><button id="virtualperiod">.</button></span><span><button id="virtualslash">/</button></span></div>
<div id="cmddiv"></div>
<div id="kbddiv4">
<span><button id="virtualSpace">space</button></span></div>
<div id="cmddiv"></div>
<table><tr><td><div style="border: thin solid black" id="l0000"></div></td>
  <td><div style="border: thin solid red" id="r0000"></div></td></tr></table>
