Number of web sockets: {{data.nws}}
<div>Please use [a-zA-Z0-9_] only for handle characters</div>
<div><button onclick="setHandle()">setHandle()</button><input id="handleInput"></input></div>
<div><button onclick="getHandle()">getHandle()</button><input id="handleInput2"></input></div>
<div id="hellodiv"></div>
<div id="cmddiv"></div>
